version: '3'
networks:
  gitlab:
    driver: bridge
services:
  # For GitLab
  gitlab:
    # TODO: change hostname and external url to http://gitlab.dbuckley.dev
    # expose gitlab via ip: https://docs.gitlab.com/ee/install/docker.html#run-gitlab-on-a-public-ip-address
    image: 'gitlab/gitlab-ce:latest'
    container_name: gitlab
    restart: always
    hostname: 'localhost'
    environment:
      # GITLAB_OMNIBUS_CONFIG: |
      #   external_url 'http://localhost:8980'
      #   gitlab_rails['gitlab_shell_ssh_port'] = 8922      
      GITLAB_OMNIBUS_CONFIG: |
        gitlab_rails['gitlab_shell_ssh_port'] = 8922
    ports:
      - '8943:443'
      - '8980:80'
      - '8922:22'
    volumes:
      - 'gitlab_config:/etc/gitlab'
      - 'gitlab_logs:/var/log/gitlab'
      - 'gitlab_data:/var/opt/gitlab'
    shm_size: '256m'
    networks:
      - gitlab
  dind:
    # Docker in Docker, so that GitLab can run Docker containers for its pipelines.
    image: docker:20-dind
    restart: always
    privileged: true
    environment:
      DOCKER_TLS_CERTDIR: ""
    command:
      - --storage-driver=overlay2
    networks:
      - gitlab
  gitlab-runner:
    # Runtime for pipelines
    restart: always
    image: gitlab/gitlab-runner:latest
    depends_on:
      - dind
    environment:
      DOCKER_HOST: "tcp://dind:2375"
    volumes:
      - './config:/etc/gitlab-runner'
    networks:
      - gitlab
  register-runner:
    # Create a runner
    # https://forum.gitlab.com/t/example-gitlab-runner-docker-compose-configuration/67344
    restart: 'no'
    image: gitlab/gitlab-runner:latest
    depends_on:
      - dind
    environment:
      - CI_SERVER_URL=${CI_SERVER_URL}
      - REGISTRATION_TOKEN=${REGISTRATION_TOKEN}
      - RUNNER_NAME=${RUNNER_NAME}
    command:
      - register 
      - --non-interactive
      - --locked=false
      - --privileged=true
      - --registration-token=${REGISTRATION_TOKEN}
      - --url=${CI_SERVER_URL}
      - --clone-url=${CI_SERVER_URL}
      - --name=${RUNNER_NAME}
      - --executor=docker
      - --docker-image=docker:20-dind
      - --docker-volumes=/var/run/docker.sock:/var/run/docker.sock
    volumes:
      - './config:/etc/gitlab-runner'
    networks:
      - gitlab

volumes:
  gitlab_config: {}
  gitlab_data: {}
  gitlab_logs: {}